 * {
	 padding: 0;
	 margin: 0;
	 list-style: none;
}
 ::-webkit-scrollbar-track {
	 box-shadow: none;
	 -webkit-box-shadow: inset 1px 0 2px #454d5f;
	 border-top-left-radius: 8px;
	 border-bottom-left-radius: 8px;
	 background-color: #8f98ae;
}
 ::-webkit-scrollbar {
	 width: 0.9rem;
	 background-color: #1b242e;
}
 ::-webkit-scrollbar-thumb {
	 border-top-left-radius: 8px;
	 border-bottom-left-radius: 8px;
	 box-shadow: none;
	 -webkit-box-shadow: inset 1px 1px 2px #3a4151;
	 background-color: #50596e;
}
 .unselectable, .nav .nav-list, .skills {
	 user-select: none;
	 -moz-user-select: none;
	 -khtml-user-select: none;
	 -webkit-user-select: none;
	 -o-user-select: none;
}
/* Queries for font size */
 html {
	 font-family: 'Inter', sans-serif;
	 font-size: 100%;
	 overflow-x: hidden;
	 scroll-behavior: smooth;
	 text-rendering: auto;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
/* Medium: 1200px screens */
 @media (max-width: 75em) {
	 html {
		 font-size: 80%;
	}
}
/* Small: 900px */
 @media (max-width: 56.25em) {
	 html {
		 font-size: 75%;
	}
}
/* Handheld: 460px/ 16px = 28.75em */
 @media (max-width: 28.75em) {
	 html {
		 font-size: 70%;
	}
}
/* General styling */
 a {
	 text-decoration: none;
	 color: white;
}
 h1 {
	 font-size: 2rem;
}
 h2 {
	 font-size: 1.5rem;
	 margin: 2rem;
}
 .bar {
	 height: 2px;
	 width: 7.5rem;
	 display: flex;
	 margin: -3.5rem auto 0 auto;
	 background-color: #252933;
}
 .header {
	 margin: 4.5rem auto;
	 font-size: 3rem;
	 font-weight: 500;
	 letter-spacing: 0.18rem;
	 color: #252933;
	 align-items: center;
}
 .float-i {
	 float: left;
	 opacity: 15%;
	 line-height: 2.5rem;
}
 .marker {
	 color: var(--color-primary);
}
 .select-me {
	 font-size: 2rem;
	 background-color: #252933;
	 color: white;
}
 .wrapper {
	 overflow: wrap;
}
/* Start sections */
 .nav {
	 width: 100%;
	 position: fixed;
	 top: 0;
	 left: 0;
	 display: flex;
	 justify-content: flex-end;
	 float: right;
	 z-index: 5;
	 color: #fcfcff;
	 background: #252933;
}
 .nav .nav-list {
	 display: flex;
	 margin-right: 0.5rem;
	 font-size: 1.5rem;
}
 .nav .nav-list a {
	 display: block;
	 margin: 0.75rem;
	 padding: 0.25rem;
	 color: #fcfcff;
	 transition: all 0.25s ease;
	 border-style: transparant;
	 border-width: 0 0 2px 0;
	 border-color: var(--color-primary);
}
 .nav .nav-list a:hover {
	 opacity: 75%;
	 border-style: solid;
	 border-color: var(--color-primary);
	 margin-bottom: calc(.75rem - 2px);
}
 .welcome-section {
	 height: 100vh;
	 min-height: 25rem;
	 width: 100%;
   padding-top: 100px;
	 display: flex;
	 font-size: 2rem;
	 justify-content: center;
   align-items: start;
	 color: #fcfcff;
	 background-color: #252933;
}
 .welcome-section #intro-text {
	 align-items: center;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 text-align: center;
	 line-height: 2.8rem;
}
 .welcome-section #intro-text .button {
	 position: relative;
	 display: inline-block;
	 margin-top: 2rem;
	 padding: 0.5rem 4rem 0.5rem 4rem;
	 text-align: center;
	 font-size: 1rem;
	 line-height: 2rem;
	 border: 2px solid #fff;
	 border-radius: 2px;
	 cursor: pointer;
	 transition: all 0.5s ease;
}
 .welcome-section #intro-text .button:hover {
	 background-color: #303542;
}
 .welcome-section #intro-text .button i {
	 position: absolute;
	 right: 1.6rem;
	 top: 1.45rem;
}
 .footer-section {
	 font-size: 1rem;
	 padding: 2rem;
	 color: white;
	 text-align: center;
	 background-color: #1b242e;
	 height: 1rem;
	 margin-bottom: 0;
}
/* ANIMATIONS \o/ o_ \o | S| |> \O/ / Î› /| I\ â€¾â€¾\ */
/* Wait until the typewriter is done to reveal button */
 .intro-wait {
	 opacity: 0%;
	 animation: intro 2.5s ease 11s forwards;
}
/* Typewriter animation */
 .anim {
	 width: 0%;
	 height: 2.5rem;
	 margin-right: 0.125rem;
	 border-right: solid 2px #252933;
	 white-space: no-wrap;
	 overflow: hidden;
	 word-break: break-all;
}
 .anim-typewriter1 {
	 animation: text-animation 1.6s steps(28) 1.8s 1 normal forwards, cursor-animation 1000ms steps(40) 5 forwards;
}
 .anim-typewriter2 {
	 animation: text-animation2 0.8s steps(12) 5.5s 1 normal both, text-animation3 1ms linear 7.6s forwards, cursor-animation 1000ms steps(40) 5s 6 forwards, text-animation4 1s steps(23) 8.5s 1 normal forwards;
}
 .anim-oops {
	 animation: selection 1ms linear 7.2s forwards, delete 1ms linear 7.6s forwards;
}
/* .anim-scroll-cue {
	 animation: scroll-cue 6s ease 11s infinite forwards;
}
 */
 @keyframes intro {
	 from {
		 opacity: 0%;
	}
	 to {
		 opacity: 100%;
	}
}
 @keyframes text-animation {
	 from {
		 width: 0%;
	}
	 to {
		 width: 27rem;
	}
}
 @keyframes text-animation2 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 32%;
	}
}
 @keyframes text-animation3 {
	 from {
		 width: 38%;
	}
	 to {
		 width: 18%;
	}
}
 @keyframes text-animation4 {
	 from {
		 width: 18%;
	}
	 to {
		 width: 102%;
	}
}
 @keyframes cursor-animation {
	 from {
		 border-right-color: var(--color-primary);
	}
	 to {
		 border-right-color: #252933;
	}
}
 @keyframes selection {
	 from {
		 background-color: #252933;
	}
	 to {
		 background-color: #39f;
	}
}
 @keyframes delete {
	 from {
		 font-size: 2rem;
	}
	 to {
		 font-size: 0rem;
	}
}
 @keyframes scroll-cue {
	 0% {
		 transform: translateY(-0.3rem);
		 opacity: 0.6;
	}
	 60% {
		 transform: translateY(0.4rem);
		 opacity: 0;
	}
	 80% {
		 transform: translateY(-0.5rem);
		 opacity: 0;
	}
	 100% {
		 transform: translateY(-0.3rem);
		 opacity: 0.6;
	}
}
/* Element reveal animations */
 .anim-slide-left {
	 animation: slide-left 0.6s ease forwards;
}
 .anim-slide-right {
	 animation: slide-right 0.6s ease forwards;
}
 .anim-slide-bottom {
	 animation: slide-bottom 0.6s ease forwards;
}
 .anim-pop-in {
	 animation: scale-up 0.6s ease forwards;
}
 .anim-reveal {
	 animation: become-visible 1.5s ease forwards;
}
 @keyframes slide-left {
	 from {
		 transform: translateX(-20rem);
		 opacity: 0%;
	}
	 to {
		 transform: translateX(0rem);
		 opacity: 100%;
	}
}
 @keyframes slide-right {
	 from {
		 transform: translateX(20rem);
		 opacity: 0%;
	}
	 to {
		 transform: translateX(0rem);
		 opacity: 100%;
	}
}
 @keyframes slide-bottom {
	 from {
		 transform: translateY(20rem);
		 opacity: 0%;
	}
	 to {
		 transform: translateX(0rem);
		 opacity: 100%;
	}
}
 @keyframes scale-up {
	 from {
		 transform: scale(0, 0);
		 opacity: 0%;
	}
	 to {
		 transform: scale(1, 1);
		 opacity: 100%;
	}
}
 @keyframes become-visible {
	 from {
		 opacity: 0%;
	}
	 to {
		 opacity: 100%;
	}
}
/* Optimize for mobile - insert last */
 @media screen and (max-width: 780px) {
	 .nav {
		 justify-content: center;
	}
	 .nav .nav-list {
		 margin-left: 2rem;
	}
	 .nav .nav-list a {
		 margin: inherit 0.5rem;
		 padding: inherit 0.75rem;
	}
	 #topper {
		 position: absolute;
		 right: 0.5rem;
		 top: 0;
	}
	 .header {
		 position: relative;
		 text-align: center;
		 font-size: 2rem;
	}
   @keyframes text-animation2 {
		 from {
			 width: 0%;
		}
		 to {
			 width: 35%;
		}
	}
}
 